body {
  background-color: #f0f0f0; /* Light gray background color */
}

footer {
  padding: 25px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #222222;
}

#hero {
  position: relative;
  background-color: #dfebed;
}

#work {
  size-adjust: ;
  background-color: #497285;
}